@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Noto+Sans+KR:wght@400;500&family=Overpass:wght@300;600&family=Ubuntu:wght@300;400;500&display=swap');

$lightRed: hsl(356, 100%, 66%);
$veryLightRed: hsl(355, 100%, 74%);
$veryDarkBlue: hsl(208, 49%, 24%);
$white: hsl(0, 0%, 100%);
$grayishBlue: hsl(240, 2%, 79%);
$veryDarkGrayishBlue: hsl(207, 13%, 34%);
$veryDarkBlackBlue: hsl(240, 10%, 16%);
$veryLightRedGrad: hsl(13, 100%, 72%);
$lightRedGrad: hsl(353, 100%, 62%);
$veryDarkGrayBlueGrad: hsl(237, 17%, 21%);
$veryDarkBlueGrad: hsl(237, 23%, 32%);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: .5rem;
}

html::-webkit-scrollbar-track{
    background: $lightRed;
}

html::-webkit-scrollbar-thumb {
    background: $grayishBlue;
    border-radius: 5rem;
}

.container {
    background-color: $white;
    font-family: 'Overpass', sans-serif;
}

.buttons {
    display: flex;
}

.btn {
    cursor: pointer;
    padding: 7px 15px;
    border: none;
    border-radius: 15px;
    background: none;
    transition: all .5s;

    &:hover {
        background-color: $veryLightRedGrad;
        color: $white;
    }
}

.btn_One {
    background-color: $white;
    color: $lightRed;
}

.header {
    color: $white;
    background: rgba(0, 0, 0, 0);
    height: 24rem;

    .bg {
       width: 100vw;
       height: 24rem;
       background-color: $lightRed;
       position: absolute;
       top: 0;
       left: 0;
       border-bottom-left-radius: 50px;
    }

    .bg_image {
        background: url(../assets/images/bg-pattern-intro-desktop.svg);
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 24rem;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.header_text {
    width: 100%;
    height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 5rem;

    h2 {
        margin: 1rem 0;
        font-size: 2.5rem;
    }

    p {
        margin-bottom: 2rem;
    }
}

.navbar {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;

    .logo {
        justify-self: flex-start;

        img {
            width: 70px;
            margin-top: .5rem;
        }
    }

    .mobile {
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin-left: 40px;
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: .9rem;

        .link {
            margin: 0 1rem;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.8);

            &:hover {
                text-decoration: underline;
                color: rgba(255, 255, 255, 1);
            }
        }

        .extension {
            display: flex;
            align-items: center;

            .arrow {
                margin-left: 5px;
                margin-bottom: .2rem;
            }
        }
    }
}

.main {
    width: 100vw;
    color: $veryDarkBlackBlue;
    position: relative;

    h2 {
        text-align: center;
        position: absolute;
        top: 4rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

        .left_box {
            padding: 0 7rem;

            h3{
                font-weight: 600;
                font: .9rem;
                margin-bottom: 1rem;
            }

            p {
                font-size: .8rem;
                line-height: 2em;
            }

            .top {
                margin-bottom: 2rem;
            }
        }

        .right_box {
            padding: 4rem;

            .main_box img {
                width: 100%;
            }
        }
    }
}

.section {
    height:  40rem;
    padding: 10px 0;
    position: relative;

    .bg {
        height: 24rem;
        width: 100%;
        background-color: $veryDarkGrayBlueGrad;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 50px;
        overflow: hidden;
        position: absolute;
        top: 5rem;
        left: 0;
    }

    .box {
        position: absolute;
        top: 0;
        left: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        color: $white;

        .right {
            h2 {
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            p {
                line-height: 1.5em;
                padding-right: 100px;
            }
        }
    }
}

.footer {
    background-color: $veryDarkBlackBlue;
    color: $white;
    display: flex;
    justify-content: space-around;
    border-top-right-radius: 50px;
    padding: 70px 50px;

    .logo img{
        width: 70px;
    }

    h2 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    p{
        margin-bottom: .5rem;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.8);

        &:hover {
            color: rgba(255, 255, 255, 1);
            text-decoration: underline;
        }
    }
}